@{
    ViewData["Title"] = "Juego";
}

<div>
    @if (ViewBag.LetrasAdivinadas != null && ViewBag.letrasUsadas != null)
    {
        <h3>
            @foreach (char a in ViewBag.LetrasAdivinadas)
            {
                @($"{a} ")
            }

        </h3>

        <h2>
            @foreach (char a in ViewBag.letrasUsadas)
            {
                @($"{a} ")
            }
        </h2> 

        <h3>Intentos = @ViewBag.Intentos</h3>
    }

    <form action='@Url.Action("AdivinarLetra", "Home")' method="POST" enctype="multipart/form-data" required>

        <input type="text" name="letraTirada" maxlength="1">
        <input type="submit" value="Adivinar Letra" />

    </form>

</div>
<div>

    <form action='@Url.Action("AdivinarPalabra", "Home")' method="POST" enctype="multipart/form-data">

        <input type="text" name="palabraTirada" maxlength="@(ViewBag.Palabra.Length)" required>
        <input type="submit" value="Adivinar Palabra" />

    </form>
</div>